body {
    background: #fff;
    font-family: 'Open Sans',sans-serif;
    color: #4e4e4e;
    line-height: 22px;
}

/* ===============================================================================
TOP BAR
=================================================================================*/
.top-bar {
    padding: 10px 0;
    background: #f1592a;
    border-bottom: 1px solid #eee;
    line-height: 28px;
    color: #fff;
}

.social {
    text-align: right;
}

.social-share {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.social-share li {
    display: inline-block;
}

ul.social-share li a {
    display: inline-block;
    color: #fff;
    background: #f1592a;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 2px;
}

/* ===============================================================================
MAIN NAV
=================================================================================*/

.navbar-inverse {
    border: none;
}
.navbar {
    border-radius: 0;
    margin-bottom: 0;
    background: #fff;
    padding: 15px 0;
    padding-bottom: 0;
}

.navbar-nav {
    margin-top: 12px;
}

.navbar>.container .navbar-brand {
    margin-left: 0;
}

.navbar-inverse .navbar-brand {
    font-size: 36px;
    line-height: 50px;
    color: #fff;
}

.navbar-brand {
    padding: 0;
    margin: 0;
}

/* The links */

.navbar-nav>li {
    margin-left: 35px;
    padding-bottom: 28px;
}

.navbar-inverse .navbar-nav>li>a {
    padding: 5px 12px;
    margin: 0;
    border-radius: 3px;
    color: #f1592a;
    line-height: 24px;
    display: inline-block;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #1d728f;
    background: none;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #1d728f;
    background: none;
}

