body {
    background: #fff;
    font-family: "Montserrat", Arial, sans-serif;
    color: #4e4e4e;
    line-height: 22px;
}

/* ===============================================================================
TOP BAR
=================================================================================*/
.top-bar {
    padding: 10px 0;
    background: #f1592a;
    border-bottom: 1px solid #eee;
    line-height: 28px;
    color: #fff;
}

#top-right {
    /* float: right; */
}

.social {
    text-align: right;

}

.social-share {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
}

ul.social-share li {
    display: inline-block;
}

ul.social-share li a {
    display: inline-block;
    color: #fff;
    background: #f1592a;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 2px;
}

.languages {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
}

ul.languages li {
    display: inline-block;
}

ul.languages li a {
    display: inline-block;
    color: #fff;
    background: #f1592a;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 2px;
}

.languages>li {
    padding-right: 10px;
}

/* ===============================================================================
MAIN NAV
=================================================================================*/

.navbar-inverse {
    border: none;
}
.navbar {
    border-radius: 0;
    margin-bottom: 0;
    background: #fff;
    padding: 15px 0;
    padding-bottom: 0;
}

.navbar-nav {
    margin-top: 12px;
}

.navbar>.container .navbar-brand {
    margin-left: 0;
}

.navbar-inverse .navbar-brand {
    font-size: 36px;
    line-height: 50px;
    color: #fff;
}

.navbar-brand {
    padding: 0;
    margin: 0;
}

/* The links */

.navbar-nav>li {
    margin-left: 35px;
    padding-bottom: 28px;
}

.navbar-inverse .navbar-nav>li>a {
    border-radius: 3px;
    color: #f1592a;
    display: inline-block;
    font-weight: bold;
    line-height: 24px;
    margin: 0;
    padding: 5px 12px;
    text-transform: uppercase;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #1d728f;
    background: none;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #1d728f;
    background: none;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #f1592a;
}

.navbar-inverse .navbar-toggle {
    border-color: #f1592a;
}

.navbar-inverse .navbar-toggle:hover {
    background-color: #eee;
}

/* ===============================================================================
SLIDER
=================================================================================*/
.slide-name {
    color: #000;
    background-color: #f1592a;
    text-transform: uppercase;
    padding: 10px;
    font-size: 28px;
    line-height: 1.3333333;
    
}

.carousel-caption {
    text-align:  left;
    left: 15px;
}

.carousel-caption h1 {
    padding-left: 10px;
    text-transform: uppercase;
}

.price {
    color: #fff;
    padding-left: 10px;
}

sup {
    font-size: 13px;
}

.headers h2 {
    font-size: 30px;
    text-transform: uppercase;
    color: #f1592a;
    padding-left: 15px;
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
    font-weight: bold;
}

.headers h2.sale {
    color: #1d728f;
}

.slider {
    background-color: #fff;
    margin-bottom: 30px;
    padding: 0 15px;
}

@media screen and (min-width: 768px) {
    .slider {
        /* padding-top: 48px;
        padding-bottom: 48px; */
    }
}

.slider h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 55px;
}

.slider .slide1 {
    background-color: #434A52;
}

.slider .slide2 {
    background-color: #3A5A97;
}

.slider .slide3 {
    background-color: #B70501;
}

@media screen and (min-width: 300px) {
    #cover_2 {
        width: 730px;
    }
    
    #cover_3 {
        width: 100%;
    }
}

@media screen and (max-width: 40em) {
    #cover_2 {
        display: none;
    }
    
    #cover_3 {
        display: none;
    }
    
    #none {
        display: none;
    }
}

/* ===============================================================================
FOOTER
=================================================================================*/
body>section {
    padding: 70px 0;
    margin-top: 30px;
}

#bottom {
    background: #f1592a;
    font-size: 14px;
}

#bottom .widget {
    margin-bottom: 0;
}

#bottom h3 {
    margin-top: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 22px;
    color: #fff;
}
.widget h3 {
    color: #000;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.widget {
    margin-bottom: 60px;
    padding-left: 0;
}


#bottom ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


#bottom ul li {
    display: block;
    padding: 5px 0;
    color: #fff;
}


#bottom ul li a {
    color: #fff;
}

#footer {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
    background: #000;
}


#footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


#footer ul>li {
    display: inline-block;
    margin-left: 15px;
}

#footer a {
    color: #fff;
}

.social-share.footer {
    float: left;
}



